<nav class="navbar navbar-expand-lg navbar-light bg-dark mb-5">
    <a href="#" class="navbar-brand text-light">Recipe App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav-collapse">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="categories" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="categories">
                    <a class="dropdown-item" href="#">Recipies</a>
                    <a class="dropdown-item" href="#">Shopping list</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
